@model SisArrendamiento.Models.Alquiler

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Alquiler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LuzCuartoCodigoNavigation.Codigo" />
            <input type="hidden" asp-for="LuzBañoCodigoNavigation.Codigo" />
            <input type="hidden" asp-for="LuzEscaleraCodigoNavigation.Codigo" />
            <input type="hidden" asp-for="CuartoCodigoNavigation.Codigo" />
            <div class="form-group">
                <label asp-for="ArrendatarioCodigo" class="control-label"></label>
                <select asp-for="ArrendatarioCodigo" class="form-control" asp-items="ViewBag.ArrendatarioCodigo"></select>
                <span asp-validation-for="ArrendatarioCodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlquilerMensual" class="control-label"></label>
                <input asp-for="AlquilerMensual" class="form-control" />
                <span asp-validation-for="AlquilerMensual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agua" class="control-label"></label>
                <input asp-for="Agua" class="form-control" />
                <span asp-validation-for="Agua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cable" class="control-label"></label>
                <input asp-for="Cable" class="form-control" />
                <span asp-validation-for="Cable" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="FechaActual" class="control-label"></label>
            <input asp-for="FechaActual" class="form-control" />
            <span asp-validation-for="FechaActual" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="FechaVencimiento" class="control-label"></label>
            <input asp-for="FechaVencimiento" class="form-control" />
            <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="PagoTotal" class="control-label"></label>
            <input asp-for="PagoTotal" class="form-control">
            <span asp-validation-for="PagoTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="LuzCuartoCodigoNavigation.ActualLuzLectura" class="control-label"></label>

            <input type="text" class="form-control" asp-for="LuzCuartoCodigoNavigation.ActualLuzLectura">
            <span asp-validation-for="LuzCuartoCodigoNavigation.ActualLuzLectura" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="LuzCuartoCodigoNavigation.AnteriorLuzLectura" class="control-label"></label>

            <input type="text" class="form-control" asp-for="LuzCuartoCodigoNavigation.AnteriorLuzLectura">
            <span asp-validation-for="LuzCuartoCodigoNavigation.AnteriorLuzLectura" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="LuzCuartoCodigoNavigation.KwConsumido" class="control-label"></label>

            <input type="text" class="form-control" asp-for="LuzCuartoCodigoNavigation.KwConsumido">
            <span asp-validation-for="LuzCuartoCodigoNavigation.KwConsumido" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="LuzCuartoCodigoNavigation.Monto" class="control-label"></label>

            <input type="text" class="form-control" asp-for="LuzCuartoCodigoNavigation.Monto">
            <span asp-validation-for="LuzCuartoCodigoNavigation.Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="LuzBañoCodigoNavigation.ActualLuzLectura" class="control-label"></label>

            <input type="text" class="form-control" asp-for="LuzBañoCodigoNavigation.ActualLuzLectura">
            <span asp-validation-for="LuzBañoCodigoNavigation.ActualLuzLectura" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="LuzBañoCodigoNavigation.AnteriorLuzLectura" class="control-label"></label>

            <input type="text" class="form-control" asp-for="LuzBañoCodigoNavigation.AnteriorLuzLectura">
            <span asp-validation-for="LuzBañoCodigoNavigation.AnteriorLuzLectura" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="LuzBañoCodigoNavigation.KwConsumido" class="control-label"></label>

            <input type="text" class="form-control" asp-for="LuzBañoCodigoNavigation.KwConsumido">
            <span asp-validation-for="LuzBañoCodigoNavigation.KwConsumido" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="LuzBañoCodigoNavigation.Monto" class="control-label"></label>

            <input type="text" class="form-control" asp-for="LuzBañoCodigoNavigation.Monto">
            <span asp-validation-for="LuzBañoCodigoNavigation.Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="LuzEscaleraCodigoNavigation.ActualLuzLectura" class="control-label"></label>

            <input type="text" class="form-control" asp-for="LuzEscaleraCodigoNavigation.ActualLuzLectura">
            <span asp-validation-for="LuzEscaleraCodigoNavigation.ActualLuzLectura" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="LuzEscaleraCodigoNavigation.AnteriorLuzLectura" class="control-label"></label>

            <input type="text" class="form-control" asp-for="LuzEscaleraCodigoNavigation.AnteriorLuzLectura">
            <span asp-validation-for="LuzEscaleraCodigoNavigation.AnteriorLuzLectura" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="LuzEscaleraCodigoNavigation.KwConsumido" class="control-label"></label>

            <input type="text" class="form-control" asp-for="LuzEscaleraCodigoNavigation.KwConsumido">
            <span asp-validation-for="LuzEscaleraCodigoNavigation.KwConsumido" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="LuzEscaleraCodigoNavigation.Monto" class="control-label"></label>
            <input type="text" class="form-control" asp-for="LuzEscaleraCodigoNavigation.Monto">
            <span asp-validation-for="LuzEscaleraCodigoNavigation.Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="CuartoCodigoNavigation.Piso" class="control-label"></label>
            <input type="text" class="form-control" asp-for="CuartoCodigoNavigation.Piso">
            <span asp-validation-for="CuartoCodigoNavigation.Piso" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="CuartoCodigoNavigation.Zona" class="control-label"></label>
            <input type="text" class="form-control" asp-for="CuartoCodigoNavigation.Zona">
            <span asp-validation-for="CuartoCodigoNavigation.Zona" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ArrendadorCodigo" class="control-label"></label>
                <select asp-for="ArrendadorCodigo" class="form-control" asp-items="ViewBag.ArrendadorCodigo"></select>
                <span asp-validation-for="ArrendadorCodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }
        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg)
                openSuccessModal(msg);
        });
    </script>
}