@model SisArrendamiento.Models.Alquiler

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Alquiler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Codigo" />
            <div class="form-group">
                <label asp-for="AlquilerMensual" class="control-label"></label>
                <input asp-for="AlquilerMensual" class="form-control" />
                <span asp-validation-for="AlquilerMensual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agua" class="control-label"></label>
                <input asp-for="Agua" class="form-control" />
                <span asp-validation-for="Agua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cable" class="control-label"></label>
                <input asp-for="Cable" class="form-control" />
                <span asp-validation-for="Cable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaActual" class="control-label"></label>
                <input asp-for="FechaActual" class="form-control" />
                <span asp-validation-for="FechaActual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaVencimiento" class="control-label"></label>
                <input asp-for="FechaVencimiento" class="form-control" />
                <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PagoTotal" class="control-label"></label>
                <input asp-for="PagoTotal" class="form-control" />
                <span asp-validation-for="PagoTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrendadorCodigo" class="control-label"></label>
                <select asp-for="ArrendadorCodigo" class="form-control" asp-items="ViewBag.ArrendadorCodigo"></select>
                <span asp-validation-for="ArrendadorCodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuzCuartoCodigo" class="control-label"></label>
                <select asp-for="LuzCuartoCodigo" class="form-control" asp-items="ViewBag.LuzCuartoCodigo"></select>
                <span asp-validation-for="LuzCuartoCodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuzBañoCodigo" class="control-label"></label>
                <select asp-for="LuzBañoCodigo" class="form-control" asp-items="ViewBag.LuzBañoCodigo"></select>
                <span asp-validation-for="LuzBañoCodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuzEscaleraCodigo" class="control-label"></label>
                <select asp-for="LuzEscaleraCodigo" class="form-control" asp-items="ViewBag.LuzEscaleraCodigo"></select>
                <span asp-validation-for="LuzEscaleraCodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrendatarioCodigo" class="control-label"></label>
                <select asp-for="ArrendatarioCodigo" class="form-control" asp-items="ViewBag.ArrendatarioCodigo"></select>
                <span asp-validation-for="ArrendatarioCodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuartoCodigo" class="control-label"></label>
                <select asp-for="CuartoCodigo" class="form-control" asp-items="ViewBag.CuartoCodigo"></select>
                <span asp-validation-for="CuartoCodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
